.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffeead;
}



html, body {
  background-color: #909085;
  margin: 5px;
  grid-gap: 5px;
  height:100%;
}
/*  #D3AA4E;  */
.container > div:nth-child(1n) {

  background-color: #000000;

  padding:2px;

}

.container > div:nth-child(3n) {
 background-color: #000000;
}

.container > div:nth-child(2n) {

}

.container > div:nth-child(4n) {

}
h2 {

  color:#DFB03E;
  padding-top:30px;
  padding-bottom:20px;
}
a{
  font-size:25px;
}

p
{
  padding-left:180px ;
  padding-right:10px;
  margin:0px;
  color:#DFB03E;
}

.bio-para
{
  border-style: 2px solid white;
  padding:10px;
  text-align:justify;
}

form {
    background-color:GRAY;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
       }

     .feed-form
      {
			text-align:left;
			margin-bottom: 25px;
	   	}

		.feed-form label
     {
			display: block;
			margin-bottom: 10px;
		 }

  	.feed-form input[type="radio"],
		.feed-form input[type="checkbox"]
    {
			display: inline-block;
			width: auto;
		}
h3
{
  display:inline;
}
