.container {
  display: grid;

   grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px auto 40px;
    height:100%;
}

.header{
    grid-column: 1 / -1;
    padding-bottom:30px;
    padding-top:10px;
    padding-left:0px;
    margin-left:0px;


}
.nav
{
  width:100px;
  height:50px;
  background-color:#8AC80B;
  //margin:10px;
  margin:5px;
  border-radius: 20px;
 font-size: 15px;
 font-weight:bold;
}
.nav:hover {
       background: #1c87c9;
     }

.menu {
      grid-column: 1 / 2;
      display:flex;
      margin:0px;
      flex-direction: column;
}

.content {
     grid-column: 2 / -1 ;
     padding-left:100px;
}

.form-content {
     grid-column: 2 / -1 ;
     padding-left:0px;
     margin:0px;
     justify-content: center;
}

.content > p

{
  padding-left:100px;
  padding-right:0px;
  margin-right:10px;
}

.content > img
{
  padding-right:250px;
  margin-left:0px;
}

.footer {
    grid-column: 1 / -1;
}
